.main {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
#box {
  padding-top: 200px;

  width: 400px;
  height: 100px;
  border: 50px solid green;
  margin: 500px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
